* {
    box-sizing: border-box;
}
body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b6b6b6;
}
main{
    flex: 1;
}
section.centered {
    margin-left: auto;
    margin-right: auto;
    /* or shorthand: margin: 0 auto; */
    width: fit-content; /* or a set width */
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
header {
    display: flex;
    background-color: rgb(242, 235, 105);
    height: 200px;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid lightslategray;
    border-radius: 3px;
    font-family: tomoha, sans-serif;
    font-size: 16px;
    background: none;
}
select {
    appearance: none;
    width: 250px;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid lightslategray;
    border-radius: 3px;
    font-family: tomoha, sans-serif;
    font-size: 16px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="black" d="M7 10l7 7 7-7z"/></svg>') no-repeat right 10px center/18px 18px;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 36px;
    text-align: center;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 28px;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
}
form {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 30px 60px 30px 60px;
    background-color: #d5d5d5;
    border: 20px solid rgb(203, 203, 203);
}
form button {
    align-self: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-family: tohoma, sans-serif;
    font-size: 20px;
}
label {
    font-size: 14px;
    font-family: tohoma, sans-serif;
    color: black;
}
.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.form-stack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    height: 16px
}
a {
    text-decoration: none;
    color: rgb(234, 38, 38);
}
a:hover {
    opacity: .75;
}
a.home-button {
    display: inline-block;
    font-size: 2rem;
    color: rgb(242, 235, 105);
    border: solid, 4px, rgb(37, 37, 37);
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
    background-color: rgb(89, 89, 89);
}
p {
    text-align: center;
}
footer {
    display: flex;
    background-color: rgb(114, 114, 114);
    height: 80px;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
form.buttons {
    padding: 30px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
form.buttons button {
    margin: 0;
    flex: 1;
}
.account-info {
    border-bottom: 5px solid black;
    padding-bottom: 30px;
}
.password-button {
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 640 480' xmlns='http://www.w3.org/2000/svg'><ellipse cx='301' cy='199' fill='none' stroke='black' stroke-width='18' rx='39' ry='35.5'/><path d='m201,201.5c0,0 24,-70 99,-70c75,0 101,70 101,69.5' fill='none' stroke='black' stroke-width='18'/></svg>") no-repeat center center;
    background-size: 60px 60px;
    border: none;
    width: 32px;
    height: 35px;
    cursor: pointer;
}
