{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block top %}
    Login
{% endblock %}

{% block content %}
    <section class="centered">
        <form id="login_form" action="{% url 'accounts:login' %}" method="post">
            <label for="email">Email </label>
            <input id="email" type="text" name="email">
            <div class="error" id="emailError"></div>
            <label for="password">Password </label>
            <div style="position: relative;">
                <input id="password" type="password" name="password" style="padding-right: 60px;">
                <button class="password-button" type="button" id="togglePassword"
                    style="position: absolute; right: 8px; bottom: 0;">
                </button>
            </div>
            <div class="error" id="passwordError"></div>
            <div class="error" id="formError">
            {% if error %}
                {{ error}}
            {% endif %}
            </div>
            <button type="submit">Login</button>
            {% csrf_token %}
        </form>
        <p>Don't have an account? click <a href="{% url 'accounts:new-account' %}">here</a> to make one.</p>
    </section>
{% endblock %}